<h1>Form Validation</h1>

<form [formGroup]="signUpForm">
  <label>First Name: </label>
  <input type="text" formControlName="firstName" /><br /><br />

  <div *ngIf="signUpForm.controls['firstName'].invalid">
    <div *ngIf="signUpForm.controls['firstName'].errors?.required">
      * First Name is required.
    </div>
    <div *ngIf="signUpForm.controls['firstName'].errors?.minlength">
      it has to be at least 3 characters
    </div>
  </div>

  <label>Last Name: </label>
  <input type="text" formControlName="lastName" /> <br /><br />

  <label>Email: </label>
  <input type="text" formControlName="email" /> <br /><br />

  <div *ngIf="signUpForm.controls['email'].invalid">
    <div *ngIf="signUpForm.controls['email'].errors?.required">
      * email is required
    </div>
    <div *ngIf="signUpForm.controls['email'].errors?.pattern">
      its not an email valid format
    </div>
  </div>

  <label>Password </label>
  <input type="password" formControlName="password" /> <br /><br />

  <div *ngIf="signUpForm.controls['password'].invalid">
    <div *ngIf="signUpForm.controls['password'].errors?.required">
      * password is required
    </div>
    <div *ngIf="signUpForm.controls['password'].errors?.minlength">
      min 8 characters
    </div>
    <div *ngIf="signUpForm.controls['password'].errors?.PasswordMustMatch">
      its not an password valid format
    </div>
    <div *ngIf="signUpForm.controls['password'].errors?.isPasswordMatch">
      Is NOt Matched
    </div>
  </div>

  <label>Confirm Password </label>
  <input type="password" formControlName="confirmPassword" /> <br />
  <div *ngIf="passwordMatched" id="pMatch">Passowrd Match</div>
  <p>Form Status: {{ signUpForm.status }}</p>

  <input type="submit" value="Sign Up" (click)="onSubmit()" />
</form>
